.trendingContainer {
  padding: 0;
  border-radius: 8px;
}

.trendingContainer h1 {
  text-align: left;
  color: #474444;
  padding-left: 50px;
  margin-bottom: 20px;
}

.quizGrid {
  display: grid;
  height: 20em;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  grid-row-gap: 0;
  padding-left: 50px;
}

.quizCard {
  display: flex;
  flex-direction: column;
  color: #474444;
  background-color: #ffffff;
  border-radius: 8px;
  width: 14em;
  height: 5em;
  padding-left: 5px;
  padding-top: 10px;
}

.innerCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding-left: 10px;
  padding-right: 20px;
}

.link {
  color: #474444;
  text-decoration: none;
}

.quizCard span {
  font-size: 1.5rem;
  padding-top: 15px;
  padding-right: 45px;
}

.quizCard p {
  font-size: 0.85rem;
  margin: 5px;
}
.impression {
  color: #ff5d01;
}

.impression i {
  padding-left: 10px;
}

.date {
  color: #60b84b;
}
