.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: white;
  color: #9f9f9f;
  padding: 20px;
  border-radius: 10px;
  width: 80vw;
  max-width: 600px;
  max-height: 90vh;
  overflow-y: auto;
}

.input {
  width: 90%;
  padding: 20px;
  background-color: white;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px lightgray;
}

.quizTypeContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px 0 20px;
}

.quizTypeContainer span {
  font-size: 1.2em;
}

.quizTypeButton {
  flex: 0.3;
  padding: 10px;
  margin: 10px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px lightgray;
  cursor: pointer;
}

.quizTypeButton.selected {
  background-color: #60b84b;
  color: white;
}

.buttonContainer {
  display: flex;
  justify-content: space-evenly;
}

.cancelButton {
  width: 13em;
  height: 2.5em;
  border: 1px solid #ccc;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px lightgray;
}

.continueButton {
  width: 13em;
  height: 2.5em;
  background-color: #60b84b !important;
  color: white !important;
  padding: 10px 20px;
  border: 1px solid #ccc;
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px lightgray;
}

.questionIndexContainer {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 20px;
}

.questionCircle {
  background: #f0f0f0;
  border-radius: 50% !important;
  width: 40px;
  height: 40px;
  display: flex;
  margin-right: 2em;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  box-shadow: 0px 0px 10px 0px lightgray;
}

.removeQuestionButton {
  position: absolute;
  width: 0%;
  height: 0%;
  top: -42px;
  right: -12px;
  cursor: pointer;
}

.questionCircle.active {
  background: green;
  color: white;
}

.addQuestionButton {
  background: green;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.questionIndexContainer span {
  margin-left: 7em;
}

.questionContainer {
  margin-top: 20px;
}

.question {
  margin-bottom: 20px;
}

.optionTypeContainer {
  margin: 20px;
  padding-left: 20px;
}

.optionTypeContainer span {
  margin-right: 30px;
}

.optionTypeContainer input {
  accent-color: black;
  margin-right: 5px;
}

.option {
  display: flex;
  align-items: center;
  justify-content: start;
}

.correctOptionLabel {
  padding: 0;
}

.removeOptionButton {
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 10px;
}

.addOptionButton {
  color: white;
  border: none;
  padding: 5px 10px;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px lightgray;
}

.timerContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 40px;
}

.timerButtons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.timerButton {
  width: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px lightgray;
}

.timerButton.active {
  background-color: red;
  color: #fff;
}

.createButton {
  background-color: #60b84b !important;
  color: white !important;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px lightgray;
}

.successContainer {
  text-align: center;
}

.closeButton {
  position: relative;
  top: -25px;
  left: 17em;
}

.linkContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
}

.linkContainer span {
  padding-top: 20px;
  width: 30em;
  height: 3em;
  color: black;
  background: #f0f0f0;
}

.shareButton {
  background-color: #60b84b !important;
  color: white !important;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px lightgray;
}
